body{
    background-image: url("https://wallpaperaccess.com/full/135064.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
input {
    border-radius: 5px;
}
h1{
    color: rgb(170, 65, 27);
    margin: 5% auto;
}
ul > li > div {
    opacity: 0;
}
ul > li > div:hover{
    opacity: 1;
    transition: all .5s;
}
.card-footer {
    height: 50px;
    margin-top: 5px;
}